### Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

###` Missing values are values that are not present in a dataset. They can occur for a variety of reasons, such as incomplete data entry, equipment malfunctions, or lost files. Missing values can have a significant impact on the analysis of a dataset, and it is important to handle them appropriately.

 - There are a number of reasons why it is essential to handle missing values. First, missing values can bias the results of an analysis. For example, if a particular variable has a high percentage of missing values, then the results of an analysis that includes that variable may be biased towards the values that are present. Second, missing values can reduce the power of an analysis.

 - This is because the analysis will have less data to work with, and this can lead to less accurate results. Third, missing values can make it difficult to interpret the results of an analysis. This is because it can be difficult to tell whether the missing values are due to random chance or whether they are due to some underlying pattern.

`There are a number of different ways to handle missing values. The best approach will depend on the specific  dataset and the analysis that is being performed. Some common approaches include:

- Deletion: This approach involves deleting the rows or columns that contain missing values. This can be a good approach if the percentage of missing values is small. However, it can also lead to a loss of data, which can reduce the power of the analysis.

- Imputation: This approach involves replacing the missing values with estimated values. There are a number of different imputation methods available, and the best approach will depend on the specific dataset. Imputation can be a good approach if the percentage of missing values is moderate. However, it is important to note that imputation can introduce bias into the analysis.

- Modeling: This approach involves modeling the missing values as a variable in the analysis. This can be a good approach if the percentage of missing values is high. However, it can be complex and time-consuming.

`Some algorithms that are not affected by missing values include:

- Decision trees: Decision trees are a type of machine learning algorithm that can be used for classification or regression tasks. Decision trees are not affected by missing values because they do not rely on all of the variables in a dataset to make predictions.

- Random forests: Random forests are a type of ensemble learning algorithm that can be used for classification or regression tasks. Random forests are not affected by missing values because they use multiple decision trees to make predictions.

- Support vector machines: Support vector machines are a type of machine learning algorithm that can be used for classification or regression tasks. Support vector machines are not affected by missing values because they only use the most important variables in a dataset to make predictions.

### Q2: List down techniques used to handle missing data. Give an example of each with python code.

-We can use either Deletion or Imputation techniques to handle the missing values, however 
Modeling is another way to handle the missing values but it is time taking.

In [1]:
#Deletion

import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[1,2,3,np.nan], 'B':[4,5,6,7]})

df['A'] = df['A'].fillna(df['A'].mean())

print(df)

     A  B
0  1.0  4
1  2.0  5
2  3.0  6
3  2.0  7

In [3]:
import seaborn as sns

df=sns.load_dataset('titanic')

In [4]:
df['Age_mean']=df['age'].fillna(df['age'].mean())

In [5]:
df[['Age_mean','age']]

      Age_mean   age
0    22.000000  22.0
1    38.000000  38.0
2    26.000000  26.0
3    35.000000  35.0
4    35.000000  35.0
..         ...   ...
886  27.000000  27.0
887  19.000000  19.0
888  29.699118   NaN
889  26.000000  26.0
890  32.000000  32.0

[891 rows x 2 columns]

In [ ]:
#Similarly we can impute median and mod iputation for outliers and categorical values respectively.